<div class="lgend-content">
  <div class="legend">
  </div>
  <div class="legend-detail">
    min
    <div style="margin: auto"></div>
    max
  </div>
</div>
<div class="time-slider-content">
  <div>
    <div class="time-slider-header"> Time travel</div>
    <mat-slider color="primary" id="tim"
                [min]="0"
                [max]="days.length-1"
                step="1"
                [value]="days.length"
                tickInterval="1"
                class="time-slider"
                (change)="changeDate()"
                [(ngModel)]="selectedDay"
                [ngStyle]="{'width': (400-(400/this.days.length))+'px', 'margin-left': ((400/days.length)/3)+'px'}"></mat-slider>
    <div class="time-slider-label">
      <div *ngFor="let s of days">{{s}}</div>
    </div>
  </div>
</div>
<div id="map" class="map"></div>
