<mat-toolbar class="nav-header">
  <div style="margin: auto">Progetto Apollon</div><mat-icon color="primary" svgIcon="thumbs-up"></mat-icon>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

    <mat-accordion>
      <mat-expansion-panel  style="background:  none; box-shadow: none; padding: 0px; margin: 0px">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: unset">
            Livelli Mappa:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list class="sidebar-link-group" style="margin-top: 0px; list-style-type: none;">
          <section class="example-section">
            <mat-list-item>
              <mat-checkbox class="example-margin" [(ngModel)]="airPollutionLevel" (click)="addAirPollutionLayer()">Inquinamento dell'Aria</mat-checkbox><mat-icon color="primary" svgIcon="thumbs-up"></mat-icon>
            </mat-list-item>
          </section>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <div id="map" class="map"></div>
  </mat-sidenav-content>
</mat-sidenav-container>


