<div>
  <div id="map" class="map"></div>
  <div style="display: none;">
    <!-- Clickable label for Vienna -->
    <a class="overlay" id="vienna" target="_blank" href="http://en.wikipedia.org/wiki/Vienna">Vienna</a>
    <div id="marker" title="Marker"></div>
    <div id="viennaInfo" title="ViennaInfo">
      <div>la città di vienna si estende per</div>
    </div>
    <!-- Popup -->
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <div id="popup2" class="ol-popup">
      <a href="#" id="popup-closer2" class="ol-popup-closer"></a>
      <div id="popup-content2"></div>
    </div>
  </div>
</div>


